.navigation-list {
  list-style: none;
}

.navigation-list-item {
  font-size: 16px;
  margin: 12px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: lightgray;
  cursor: pointer;
}
